.form-signin > .input-block + .input-block {
  margin-top: 20px;
}

.form-signin > .input-group {
  margin-top: 20px;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form-signin .input-block > label {
  font-size: 14px;
  font-weight: bold;
  color: #acacac;

  display: block;
}

.form-signin .input-block > input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666666;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
.form-signin .input-block > input:focus {
  border-bottom-color: #7d40e7;
}

.form-signin > .btn-signin {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #7d40e7;
  border: 0;
  border-radius: 2px;
  padding: 15px 20px;
  margin-top: 30px;
  cursor: pointer;
}

.form-signin > .btn-signin:hover,
.form-signin > .btn-signin:focus,
.form-signin > .btn-signin:active {
  background-color: #6931ca;
}
