.sidebar-app {
  width: 420px;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
}

.sidebar-app > .title {
  font-size: 20px;
  text-align: center;
  color: #333333;

  display: block;
}

.sidebar-app > .form-signin {
  margin-top: 30px;
}
