.dev-item {
    background-color: #ffffff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
  }
  
  .dev-item > header {
    display: flex;
    align-items: center;
  }
  
  .dev-item > header > img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }
  
  .dev-item > header > .dev-info {
    margin-left: 10px;
  }
  
  .dev-item > header > .dev-info > .name {
    font-size: 16px;
    color: #333;
  
    display: block;
  }
  
  .dev-item > header > .dev-info > .techs {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
  }
  
  .dev-item > .bio {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin: 10px 0;
  }
  
  .dev-item > .action {
    text-decoration: none;
    font-size: 14px;
    color: #8e4dff;
  }
  .dev-item > .action:hover {
    color: #5a2eaf;
  }
  